/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE
  orange2: #E04534

*/

.mainPic {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #FFFFFF;
}

.infoTeacher {
  display: flex;
  align-items: center;
  padding: 1em;
  z-index: 2;
}

.price {
  z-index: 2;
  font-size: 1.5em;
  padding: 0 1.5em 1.5em 0;
}

.degrade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent 80%, rgba(0, 0, 0, 0.6) 90%);
  z-index: 1;
}

.teacherDetails {
  padding-left: 1em;
}

.likes {
  display: flex;
}

.pictures {
  width: 100%;
}

.picture {
  width: 30%;
  height: 100%;
}

.subscribe {
  width: 100%;
  padding: 1em;
  border: 0;
  position: fixed;
  bottom: 0;
}

.basicInfo {
  min-height: 40vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1 0 15%;
}

.dates {
  flex: 1 0 15%;
}

.content {
  flex: 5 0 40%;
}

.status {
  flex: 1 0 15%;
}

.jump1 {
  flex: 1 0 15%;
  padding-bottom: 1em;
  text-align: center;
}

.students {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.public {
  padding: 1em;
}

.interactions {
  text-align: center;
}

.comments {
  padding: 2em 0;
}