/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE
  gray: #313131

*/

.courses {
  display: flex;
  height: 100vh;
  position: static;
  overflow-x: auto;
  background-color: #E6F0FE;
}

.coursesMenu {
  flex: 0 0 50%;
  height: 80%;
  margin: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2em;
  color: #313131;
}

.coursesMenu a {
  color: #313131;
}

.coursesItems {
  display: flex;
  border-left: 2em solid #FFFFFF;
}

.avatarZone {
  flex: 1 0 auto;
}

.avatarPic {
  margin: 1em auto;
}

.menu {
  flex: 5 0 auto;
}

.menu li {
  padding: 1em 0;
}

.btn {
  flex: 0 0 auto;
  background-color: transparent;
  border: 0;
  text-align: initial;
}

.username {
  text-align: center;
}