/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE

*/

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding: 0 1em;
  text-align: center;
}

.header {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  padding-top: 3em;
}

.main {
  flex: 1 1 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
}

.aside {
  flex: 1 1 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
}

.interactions {
  flex: 3 0 15vh;
  background-color: #FFFFFF;
  border-top: 1em solid #FFFFFF;
  border-bottom: 1em solid #FFFFFF;
  padding: 1em 0;
}

.scrollUsers {
  width: 90%;
  margin: 0 auto;
}

.teacherCourse {
  background-color: #E6F0FE;
  border-bottom: 1em solid white;
  padding: 1em 0;
  border-radius: 5px;
}

.headerCourse {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
}

.sectionCourse {
  padding: 1em 0;
  min-height: 6em;
}

.metricsCourses {
  padding-top: 1em;
}

.studentCourses .course-container {
  height: 400px;
}

.titleCourse {
  padding: 1em 0;
}