/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE

*/

.buttonSubmit {
  padding-top: 3em;
}

.index2 {
  z-index: 2;
}

.signup {
  background-color: #fff;
}

.login {
  background-color: #e6f0fe;
}

.layer {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
