/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.loading {
  border: 16px solid #E6F0FE;
  border-top: 16px solid #4333B3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.avatar {
  width: 5em;
  height: 5em;
  background-position: center;
  border: 1px solid #4333B3;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.course {
  width: 15em;
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 4 0 70%;
  margin: auto
}

.info-course {
  flex: 1 0 30%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.likes {
  flex: 1 0 25%;
}

.linkCourse {
  flex: 4 0 75%;
}

.main-picture {
  width: 100%;
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pictures-course {
  width: 30%;
  height: 100%;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-purple {
  background-color: #E6F0FE;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20%;
}

.form div {
  padding-bottom: 1em;
}

.form-item {
  padding-bottom: 5em;
}

.positionImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.course-container {
  display: flex;
  flex-direction: column;
  background-color: #E6F0FE;
  padding: 1em 0;
  min-height: 400px;
}

.hide {
  top: 2em;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}

.show {
  top: 0;
  opacity: 1;
  transition: top 0.5s, opacity 0.5s;
}

.navMenu {
  width: 100vw;
  height: 3em;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #FFFFFF;
}

.user {
  display: inline-block;
  border: 1em solid transparent;
}

@media screen and (min-width: 600px) {
  .form {
    padding: 0 30%;
  }

  #avatar {
    padding-left: 4em;
  }
}
