/*

  orange: #F5531F
  fuchsia: #4F1D9F
  purple: #4333B3
  white: #FFFFFF
  light-fuchsia: #E6F0FE

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style-type: none;
}

.loading {
  border: 16px solid #E6F0FE;
  border-top: 16px solid #4333B3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.avatar {
  width: 5em;
  height: 5em;
  background-position: center;
  border: 1px solid #4333B3;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.course {
  width: 15em;
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-picture {
  width: 100%;
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pictures-course {
  width: 30%;
  height: 100%;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-purple {
  background-color: #E6F0FE;
}
